@import "tailwindcss";

@font-face {
  font-family: "amulya";
  src: url("/fonts/Amulya-Variable.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "amulya";
  src: url("/fonts/Amulya-Variable.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "synonym";
  src: url("/fonts/Synonym-Variable.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "synonym";
  src: url("/fonts/Synonym-Variable.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: synonym, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "amulya";
  font-weight: bold;
}
